<div id="global-footer">
	<section class="commitment" id="commitment-to-good">
		<div class="container">
			<h3 class="section d1-d12">Commitment to Good</h3>
			<p class="d3-d10 lead-in">From the work that we do with clients, the types of projects we choose to take, to how we spend our time, money, and resources; all of these elements come back to this core idea: Cottleston Pie exists to make the world a more positive place.</p>
			<div class="d1-d6 money">
				<h5>Financially</h5>
				<p>Cottleston Pie donates 10% of profits to support an important cause. Each quarter, a different cause is chosen and the money is used to support nonprofits, events, and organizations working to support that cause.</p>
				<div class="logo">
					<img src="/img/causes/cause-cfrr.png" class="" alt="Center for Reproductive Rights logo" />
				</div>
				<p>This quarter&#8217;s cause is <strong>Women&#8217;s Health</strong>. Cottleston Pie donated 10% of profits to the <a href="https://www.reproductiverights.org/">Center for Reproductive Rights</a> to support their fight to protect the fundamental human rights that have come under fire.</p>
			</div>
			<div class="d7-d12 time">
				<h5>Time &amp; Expertise</h5>
				<p>Cottleston Pie is proud to have participated in the <a href="https://www.civichalllabs.org/probonotech/">Civic Labs Delta.NYC</a> pilot program in 2016. The program brings together people who donate their time to collaborate with other digital professionals and pairs them with an organization in need to improve their digital product. The project benefited <a href="http://www.buildnewyork.org">Build NYC</a>, an incredible group of people who are mentoring high schoolers in entrepreneurship.</p>
				<div class="logo">
					<img src="/img/causes/cause-civic-hall.svg" class="" alt="Civic Hall logo" />
				</div>
			</div>
		</div>

	</section>

	<section class="about">
		<div class="container">
			<div class="cp t1-t3 d1-d7 t-padfull d-padfull">
				<img src="/img/about/davedawson-blue.jpg" alt="Dave Dawson photo" />
				<div class="label">
					<h3>Cottleston Pie is led by <a href="http://www.iamdavedawson.com">Dave Dawson</a></h3>
					<a href="/about/" class="button">Learn about the studio</a>
				</div>
			</div>
			<div class="the-works t4-t6 t-padfull d8-d12 d-padfull">
				<img src="/img/about/small-city-blue.jpg" alt="Small City photo" />
				<div class="label">
					<h3>Based out of <a href="http://smallcity.us/">Small City</a> in Gowanus, Brooklyn</h3>
				</div>
			</div>
			<div class="hire">
				<h2 class="d3-d8"><a href="/contact/">Hire Cottleston Pie for your next project</a></h2>
			</div>
		</div>
		<div class="container">
			
		</div>
	</section>

	<section class="footer">
		<h4>&copy; Cottleston Pie, LLC {{ site.time | date: '%Y' }} &#8226; All Rights Reserved.</h4> 
	</section>	
</div>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-840462-27']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>