<section class="about">
	<div class="container">
		<div class="cp t1-t3 d1-d7 t-padfull d-padfull">
			<img src="/img/about/davedawson-blue.jpg" alt="Dave Dawson photo" />
			<div class="label">
				<h3>Cottleston Pie is led by <a href="http://www.iamdavedawson.com">Dave Dawson</a></h3>
				<a href="/about/" class="button">Learn about the studio</a>
			</div>
		</div>
		<div class="the-works t4-t6 t-padfull d8-d12 d-padfull">
			<img src="/img/about/the-works-blue.jpg" alt="The Works photo" />
			<div class="label">
				<h3>Based out of <a href="http://www.thisistheworks.com">The Works</a> in Carroll Gardens, Brooklyn</h3>
			</div>
		</div>
	</div>
</section>

<section class="footer">
	<h4>&copy; Cottleston Pie, LLC {{ site.time | date: '%Y' }} &#8226; All Rights Reserved.</h4> 
</section>	

<script src="https://get.gridsetapp.com/16410/overlay/"></script>
