<section class="about">
		<div class="container">
			<div class="cp d1-d7">
				<div class="label">
					<h3>Cottleston Pie is run by Dave Dawson with help from friends</h3>
					<a href="/about/">Learn More</a>
				</div>
			</div>
			<div class="the-works d8-d12 d-padfull">
				<div class="label">
					<h3>Based out of <a href="http://www.thisistheworks.com">The Works</a> in Carroll Gardens, Brooklyn</h3>
				</div>
			</div>
		</div>
	</section>
<script src="https://get.gridsetapp.com/16410/overlay/"></script>