<!-- <h1>Cottleston Pie</h1> --> 
<section class="header" id="page-header">
	<div class="container">
		<h2 class="d1-d7 t1-t3"><a href="/"><span class="tagline">A <span class="t-hidden">digital</span> design studio in <span class="h-hidden t-hidden new-york-city">New York City</span><span class="h-visible t-visible nyc"><abbr>NYC</abbr></span>,</span> <strong>Cottleston Pie</strong></a></h2>
		<div class="d8-d12 t4-t6">
			<nav>
			  <ul>
					<li><a href="/about">About</a></li>
					<li><a href="/#work">Work</a></li>
					<li class="nav-commitment"><a href="#commitment-to-good">Commitment <span>to Good</span></a></li>
					<li><a href="/contact" class="contact">Hire</a></li>
				</ul> 
			</nav> 
		</div>
	</div>
</section>