<!-- <h1>Cottleston Pie</h1> --> 
<section class="header">
	<div class="container">
		<h2 class="d1-d7 t1-t3"><a href="/">A tiny design studio in <span class="h-hidden">New York City</span><span class="h-visible"><abbr>NYC</abbr></span>, <strong>Cottleston Pie</strong></a></h2>
		<div class="d8-d12 t4-t6">
			<nav>
			  <ul>
					<li><a href="/about">About</a></li>
					<li><a href="/#work">Work</a></li>
					<li><a href="mailto:studio@havesomecottlestonpie.com" class="contact">Contact <em>Opens an email window</em></a></li>
				</ul> 
			</nav> 
		</div>
	</div>
</section>