 // * { transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; }

// Body Styles
html, body, section {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  margin: 0;
  font-family: $typeSans;
  background: $color-dark-blue;
}

.container { 
  
  position: relative;
  margin: 0 auto;
  @include respond-to(handhelds) {
    padding: 0 6%;
  }
  @include respond-to(medium-screens) {
    max-width: 800px;
    margin: 0 auto;
  }
  @include respond-to(wide-screens) {
    max-width: 1082px;
    margin: 0 auto;
  }
  @include respond-to(extra-wide-screens) {
    max-width: 1400px;
  }
  // @include respond-to(medium-screens) {
  //   max-width: 800px;
  // }
  // margin: 0 5%;
  // @include clearfix;
}

// Type Styles
h1 {
 
}

h2 {
  font-size: 40px;
  line-height: 46px;
  font-family: $typeSerif;
}

h3 {
  font-size: 24px;
  line-height: 30px;
  font-family: $typeSerif;
  color: white;
  @include respond-to(medium-screens) {
    
  }
  @include respond-to(wide-screens) {
    font-size: 28px;
    line-height: 34px;
  }
  @include respond-to(extra-wide-screens) {
    font-size: 48px;
    line-height: 56px;
  }
  &.section {
    text-transform: uppercase;
    font-size: 16px;
    letter-spacing: 0.3em;
    color: white;
    font-family: $typeSans;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 30px;
    &:before {
      content: "";
      display: block;
      width: 60px;
      height: 10px;
      margin-bottom: 30px;
      background: rgba(255,255,255,0.4);
    }
  }
}

h4 { 
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.3em;
  color: white;
  font-weight: bold;
}

p {
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 0.75em;
}

a {
  color: $color-red;
  
}

a:hover {
}
ul, ol { 
  margin: 0.6em 0; padding: 0; font: 1.4rem ; line-height: 1.4em; 
}
ul li, ol li {
  list-style-type: none;
  // margin: 15px 0 15px;
  color: #fff;
  // font-size: 18px;
  @include respond-to(handhelds) {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(wide-screens) {  }
}

blockquote { color: #666; margin: 1em;  }

img {
  max-width: 100%;
}

em {
  font-style: italic
}

strong {
  font-weight: bold;
}