 // * { transition: all 0.25s linear; -moz-transition: all 0.25s linear; -webkit-transition: all 0.25s linear; -o-transition: all 0.25s linear; }

// Body Styles
html, body, section {
  margin: 0;
  padding: 0;
  color: white;
}
body {
  margin: 0;
  font-family: $typeMedium;
}

.container {
  margin: 0 auto; 
  max-width: 1400px;
  position: relative;
}

// Type Styles
h1 {
 
}

h2 {

}

h3 {

}

h4 { 

}

p {

}

a {

}

a:hover {
}
ul, ol { 
  margin: 0.6em 0; padding: 0; font: 1.4rem ; line-height: 1.4em; 
}
ul li, ol li {
  list-style-type: none;
  // margin: 15px 0 15px;
  color: #fff;
  // font-size: 18px;
  @include respond-to(handhelds) {  }
  @include respond-to(medium-screens) {  }
  @include respond-to(wide-screens) {  }
}

blockquote { color: #666; margin: 1em;  }

img {
  max-width: 100%;
}