.intro {
	margin: 0;
	background: url(/img/intro-bg.jpg) repeat-x; 
	background-size: cover;
	nav {
		ul {
			margin: 0;
		}

		li {
			display: inline;
			display: none;
		}
		a {


		}
	}

	h1 {
		margin-top: -50px;
	}
}

.description {
	background: #b80f4a;
	margin-top: -40px;
	padding: 100px 0;
}