.nav-wrap {
	position: absolute;
	top: 0;
	width: 100%;
}

.intro {
	margin: 0;
	background: url(/img/intro-bg.jpg) repeat-x; 
	background-size: cover;
	

	h1 {
		// margin-top: 50px;
		position: relative;
		top: -50px;
		img {
			width: 130%;
			margin-left: -1%;

		}
	}

	h2 {
		margin-top: 300px;
		font-size: 25px;
		line-height: 31px;
		&:before {
      content: "";
      display: block;
      width: 56px;
      height: 7px;
      margin-bottom: 30px;
      background: rgba(255,255,255,0.4);
    }
	}
}

.description {
	background: #b80f4a;
	margin-top: -40px;
	padding: 100px 0;
	@include clearfix;

	.featured-work {
		.project-1 {
			float: right;
			margin-top: -300px;
			.iphone {
				position: relative;
				top: -500px;
				left: -100px;
			}
		}
		
	}
}

.more-work {
	background: #242742;
	padding: 60px 0;
	@include clearfix;
	.project {
		text-decoration: none;
		position: relative;
		display: block;
		min-height: 500px;
		padding: 30px;
		background: #000;
		border-radius: $radius;
		margin-bottom: 30px;
		background: #333;
		background-size: cover;
		display: table;
		overflow: hidden;
		&.small {
			h3 {
				font-size: 34px;
				line-height: 36px;
			}
		}
		&.wide {
			min-height: 300px;
		}
		&.filmlinc {
			background: url("/img/projects/home/filmlinc.jpg") no-repeat;
			background-position: 0px  -50px;
			// background-size: 90%;
			&:after {
				content: "";
				@include left-to-right-dark-gradient;
				width: 100%;
			}
		}
		&.filmcomment {
			background: url("/img/projects/home/filmcomment.jpg") no-repeat;
			background-position: -500px  -50px;
			&:after {
				content: "";
				@include bottom-to-top-dark-gradient;
			}
		}
		&.tackleebola {
			background: url("/img/projects/home/te.jpg") no-repeat;
			background-position: -150px -100px;
			&:after {
				content: "";
				@include bottom-to-top-dark-gradient;
			}
		}
		&.oldspice {
			background: url("/img/projects/home/oldspice.jpg") no-repeat;
			background-position: -350px bottom;
			&:after {
				content: "";
				@include bottom-to-top-dark-gradient;
			}
		}
		&.raise {
			background: url("/img/projects/home/raise-the-wage.jpg") no-repeat;
			background-position: -150px -100px;
			&:after {
				content: "";
				@include bottom-to-top-dark-gradient;
			}
		}
		&.nextgen {
			background: url("/img/projects/home/nextgen.jpg") no-repeat;
			.title-wrap {
				padding-left: 50%;
			}
		}
		&.fes {
			background: url("/img/projects/home/fes.jpg") no-repeat;
			// &:after {
			// 	content: "";
			// 	@include left-to-right-dark-gradient;
			// 	width: 100%;
			// }
			&:after {
				content: "";
				@include bottom-to-top-dark-gradient;
			}
		}
		&.feast {
			background: url("/img/projects/home/the-feast.jpg") no-repeat;
		}
		&.hustwit {
			background: url("/img/projects/home/hustwit.jpg") no-repeat;
			text-align: center;
			background-position: center bottom;
			&:after {
				content: "";
				@include bottom-to-top-dark-gradient;
			}
		}
		&.ndnf {
			background: url("/img/projects/home/ndnf.jpg") no-repeat;
			&:after {
				content: "";
				@include bottom-to-top-dark-gradient;
			}
		}
		&.avicii {
			background: url("/img/projects/home/avicii.jpg") no-repeat;
			&:after {
				content: "";
				@include left-to-right-dark-gradient;
				width: 100%;
			}
		}
		&.littlebits {
			background: url("/img/projects/home/littlebits.jpg") no-repeat;
			&:after {
				content: "";
				@include left-to-right-light-gradient;
				width: 100%;
			}
		}
		&.fourseasons {
			background: url("/img/projects/home/fourseasons.jpg") no-repeat;
			&:after {
				content: "";
				@include bottom-to-top-dark-gradient;
			}
		}
		&.ndnf {
			background: url("/img/projects/home/ndnf.jpg") no-repeat;
			&:after {
				content: "";
				@include bottom-to-top-dark-gradient;
			}
		}
		.title-wrap {
			// @include vertical-align;
			display: table-cell;
		  vertical-align: middle;
		  position: relative;
		  z-index: 2;
		}
		.text-bottom {
			position: absolute;
			bottom: 30px;
			display: block;
		}
		&.on-light {
			h3 {
				color: $color-red;	
			}
			h4 {
				color: $color-text
			}
		}
	}
	.wrap {
		// @include center(y);
		// @include vertical-align;
	}
}