.interior {
	.container {
		padding: 0;
	}
}

.project-header {
	background-size: cover;
	background-position: center right;
	padding-top: 80px;
	position: relative;
	// @include respond-to(handhelds) {
	@include respond-to(medium-screens) {
		padding-top: 200px;
	}
	&:after {
		content: "";
		@include bottom-to-top-dark-gradient;
	}
	// }
	@include respond-to(wide-and-above) {
		background: #111;
		@include clearfix;
		position: relative;
		z-index: 2;
		padding: 60px 0;
		background-size: cover;
	  width: 100%;
	  height: 420px;
	  &:before {
	  	content: '';
		  display: inline-block;
		  height: 100%;
		  vertical-align: middle;
		  margin-right: -0.25em; /* Adjusts for spacing */
	  }
	  &:after {
	  	content: none;
	  }
	}
	
  
	h1 {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 10px;
		font-family: $typeSerif;
		color: white;
		@include respond-to(medium-screens) {
			font-size: 40px;
			line-height: 46px;
	  }
	  @include respond-to(wide-screens) {
	    font-size: 48px;
			line-height: 56px;
			margin-bottom: 10px;
	  }
	  @include respond-to(extra-wide-screens) {
	    font-size: 56px;
	    line-height: 62px;
	    margin-bottom: 10px;
	  }
	}
	h3 {
		// color: $color-text;
		
		@include respond-to(medium-screens) {
	  }
	  @include respond-to(wide-screens) {
	  //   font-size: 48px;
			// line-height: 56px;
	  }
	  @include respond-to(extra-wide-screens) {
			font-size: 38px;
		  line-height: 46px;
	  }
	}
	.wrap {
		position: relative;
		z-index: 2;
		padding: 30px;
		@include respond-to(wide-and-above) {
			display: inline-block;
		  vertical-align: middle;
	    width: 49.0234%;
			margin-left: 8.4961%;
			padding: 0;
		}
	}
	&.filmlinc {
		background-image: url('/img/projects/filmlinc/hero-filmlinc.jpg');
	}
	&.filmcomment {
		background-image: url('/img/projects/filmcomment/hero-fc.jpg');
	}
	&.avicii {
		background-image: url('/img/projects/avicii/hero-avicii.jpg');
	}
	&.fes {
		background-image: url('/img/projects/fes/hero-fes.jpg');
	}
	&.hustwit {
		background-image: url('/img/projects/hustwit/hero-hustwit.jpg');
		@include respond-to(wide-and-above) {
			&:after {
				content: "";
				@include left-to-right-dark-gradient;
				width: 100%;
			}
		}
	}
	&.littlebits {
		background-image: url('/img/projects/littlebits/hero-littlebits.jpg');
	}
	&.ndnf {
		background-image: url('/img/projects/ndnf/hero-ndnf.jpg');
	}
	&.nextgen {
		background-image: url('/img/projects/nextgen/hero-nextgen.jpg');
	}
	&.old-spice {
		background-image: url('/img/projects/old-spice/hero-old-spice.jpg');
		background-size: cover;
		background-position: center;
	}
	&.raise {
		background-image: url('/img/projects/raise/hero-raise.jpg');
	}
	&.tackleebola {
		background-image: url('/img/projects/tackle-ebola/hero-te.jpg');
	}
	&.feast {
		background-image: url('/img/projects/feast/hero-feast.jpg');
	}
	&.four-seasons {
		background-image: url('/img/projects/four-seasons/hero-fs.jpg');
	}
}

.project-deets {
	font-size: 14px;
	line-height: 18px;
	dt {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 5px;
    font-size: 13px;
	}
	dd {
		margin-bottom: 10px;

	}
}

.project-post {
	background: #fff;
  padding: 0;
  overflow: hidden;
  color: $color-text;
  // padding-bottom: 400px;
  @include clearfix;
	&.filmcomment {
	}	
}

.project-description {
	margin: 30px 0;
	overflow: hidden;
	@include clearfix;
	@include respond-to(medium-and-above) {
		margin: 120px 0;	
	}
	.hero {
		display: none;
		float: right;
		// right: -60%;
    // position: relative;
    // position: absolute;
		// top: 300px;
		// width: 100%;
		z-index: 1;
		margin-left: 67.9688%;
	  float: left;
	  margin-right: -100%;
	  @include respond-to(wide-and-above) {
	  	display: block;
	  }
	}
	.ipad {
		position: relative;
	}
	.iphone {
		position: relative;
		left: -10%;
		top: -400px;
	}
	.story {
		margin-bottom: 300px;
		p:first-of-type {
		  // font-size: 1.25em;
		}	
	}
	h3 {
		font-family: $typeSerif;
		color: $color-text;
		margin-bottom: 30px;
		font-size: 20px;
		line-height: 26px;
		@include respond-to(medium-and-above) {
			font-size: 30px;
			line-height: 36px;
		}
	}
}

.project-expanded {
	// background: #192030;
	position: relative;
	z-index: 2;
	// top: -250px;
	@include clearfix;
	img {
		filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
		-webkit-filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.5));
	}
	&.tri-screen {
		padding-top: 120px;
		.screen {
			position: absolute;
			top: 0;
			img {
				width: 60%
			}
		}
		.screen-1 {
			left: -10%;
		}
		.screen-2 {
			top: -60px;
			z-index: 2;
			// width: 100%;
			position: relative;
			img {
				margin: 0 auto;
				display: block;
			}
		}
		.screen-3 {
			right: -10%;
			img {
				float: right;
			}
		}
		@include respond-to(wide-and-above) {
			.screen {
				position: absolute;
				top: 0;
				img {
					width: auto;
				}
			}
			.screen-1 {
				left: -20%;
			}
			.screen-2 {
				top: -60px;
				z-index: 2;
				width: 100%;
				position: relative;
				img {
					margin: 0 auto;
					display: block;
				}
			}
			.screen-3 {
				right: -20%;
				float: none;
			}
		}
	}
	&.bi-screen {
		padding-top: 120px;
		.screen {
			position: absolute;
			top: 0;
			img {
				width: 60%
			}
		}
		.screen-1 {
			left: -10%;
		}
		.screen-2 {
			top: -60px;
			z-index: 2;
			right: -29%;
			// width: 100%;
			position: relative;
			img {
				margin: 0 auto;
				display: block;
			}
		}
		@include respond-to(wide-and-above) {
			.screen {
				position: absolute;
				top: 0;
				img {
					width: auto;
				}
			}
			.screen-1 {
				left: -20%;
			}
			.screen-2 {
				top: -60px;
				z-index: 2;
				width: 100%;
				
				position: relative;
				img {
					margin: 0 auto;
					display: block;
				}
			}
		}
	}
}

.post-content {
	margin-top: -400px;
	overflow: hidden;
}

.more-projects {
	padding: 60px 0;
	background: darken($color-darkest-blue, 30%);
	padding: 30px 6%;
	@include respond-to(medium-and-above) {
		padding: 60px 3%;
	}
	li {
		margin: 0;
		display: inline;
		&:after {
			content: '¶';
			opacity: 0.5;
			padding: 0 10px;
		}
		&:last-child {
			&:after {
				content: "";
			}
		}
		h3 {
			display: inline;
			line-height: 34px;
		}
		span {
			background: url(/img/intro-bg-thin.png) repeat-x;
			background-size: 10%;
			background-position: 0 bottom;
			padding: 5px;
			color: white;
		}
		a {
			text-decoration: none;
			color: rgba(255,255,255,0.7);
			font-family: $typeSans;
			font-weight: 500;
			// background: $color-red;
			font-size: 20px;
			@include transition(all 0.3s ease-in-out);
			&:hover {
				background: url(/img/intro-bg-thin.png) repeat-x;
				background-size: 10%;
				background-position: 0 bottom;
				// padding: 12px 15px;
				padding: 5px;
			}
		}
	}
}

.about-page {
	color: $color-text;
	.project-header {
		background-image: url('/img/about/about-hero-bg.png');
    background-position: bottom;
    background-size: cover;
    &:before {
	  	content: '';
		  display: inline-block;
		  height: 100%;
		  vertical-align: middle;
		  margin-right: -0.25em; /* Adjusts for spacing */
	  }
		&:after {
			content: none;
		}
		h1 {
			font-size: 48px;
			line-height: 56px;
		}
		.wrap {
			@include respond-to(medium-and-above) {
				width: 80%;
			}
		}
	}
	.project-description {
		margin-bottom: 60px;
	}
	.section, p {
		color: $color-text;
	}
	.section {
		margin: 0;
		&:before {
			background: rgba(0,0,0,0.1);
		}
	}
	.projects-intro {
		 padding-bottom: 30px;
	}
	.cp-projects {
		@include clearfix;
		padding-bottom: 60px;
		.the-works, .projects-intro {
			background: white;
			@include clearfix;
		}
		.the-works {
			padding-bottom: 60px;
			.photos {
				@include clearfix;
				clear: both;
				margin-top: 30px;
				@include respond-to(wide-and-above) {
					margin-top: 0;
				}
				img {
					@include respond-to(handhelds) {
						margin-bottom: 30px;	
					}
					@include respond-to(medium-screens) {
						margin-bottom: 30px;
					}
				}
			}
			.wide-photo {			
				@include respond-to(medium-screens) {
					width: 100%;
					img {
						margin: 0 auto;	
						display: block;
					}
				}	
				@include respond-to(wide-and-above) {
					margin-top: -130px;
				}
			}
			.more-info {
				color: $color-text;
				position: relative;
				p {
					margin-top: 20px;
					clear: both;
				}
				img {
					width: 60%;
					@include respond-to(medium-screens) {
						margin-bottom: 30px;
					}
				}
				.wrap {
					@include respond-to(wide-screens) {
						margin-top: -240px;
				    position: relative;
				    top: 320px;
					}
					@include respond-to(extra-wide-screenssla) {
						margin-top: -240px;
				    position: relative;
				    top: 520px;
					}
				}
			}
		}
	}
	.story {
		margin-bottom: 0;
	}
	.content {
		h4 {
			color: $color-text;
			margin: 5px 0 10px;
		}	
	}
	.sidebar {
		img {
			@include respond-to(wide-and-above) {
				margin-bottom: -40px;
				// border-radius: 50px;
			}
		}
		.dd-summary {
			@include respond-to(wide-and-above) {
				background-color: rgba(0,0,0,0.03);
				padding: 60px 15px 15px;
			}
		}
	}
	.section {
		clear: both;
		margin-bottom: 30px;
		@include clearfix;
	}
	.partners {
		li {
			display: inline;
			font-size: 16px;
			line-height: 20px;
			font-weight: bold;
			&:after {
				content: "•";
				color: rgba(0,0,0,0.2);
				padding: 0 2%;
			}
			&:last-child {
				&:after {
					content: none;
					padding: 0;
				}
			}
		}
	}
}

.contact-page {
	color: $color-text;
	h1 {
		color: $color-text;
	}
	.content {
		background: white;
		@include clearfix;
		padding: 30px 0;
		margin-bottom: 30px;
		@include respond-to(wide-and-above) {
			padding: 60px 0;
			margin-bottom: 6*0px;
		}
	}
}