.project-header {
	background-size: cover;
	background-position: center right;
	padding-top: 80px;
	position: relative;
	@include respond-to(handhelds) {
		&:after {
			content: "";
			@include bottom-to-top-dark-gradient;
		}

	}
	@include respond-to(medium-and-above) {
		background: #111;
		@include clearfix;
		position: relative;
		z-index: 2;
		padding: 60px 0;
		background-size: cover;
	  width: 100%;
	  height: 420px;
	  &:before {
	  	content: '';
		  display: inline-block;
		  height: 100%;
		  vertical-align: middle;
		  margin-right: -0.25em; /* Adjusts for spacing */
	  }
	}
	
  
	h1 {
		font-size: 32px;
		line-height: 40px;
		margin-bottom: 20px;
		font-family: $typeSerif;
		color: white;
		@include respond-to(medium-screens) {
	  }
	  @include respond-to(wide-screens) {
	    font-size: 48px;
			line-height: 56px;
	  }
	  @include respond-to(extra-wide-screens) {
	    font-size: 68px;
			line-height: 76px;
	  }
	}
	h3 {
		// color: $color-text;
		
		@include respond-to(medium-screens) {
	  }
	  @include respond-to(wide-screens) {
	  //   font-size: 48px;
			// line-height: 56px;
	  }
	  @include respond-to(extra-wide-screens) {
			font-size: 48px;
		  line-height: 56px;
	  }
	}
	.wrap {
		position: relative;
		z-index: 2;
		padding: 30px;
		@include respond-to(medium-and-above) {
			display: inline-block;
		  vertical-align: middle;
	    width: 49.0234%;
			margin-left: 8.4961%;
			padding: 0;
		}
	}
	&.filmlinc {
		background-image: url('/img/projects/filmlinc/hero-filmlinc.jpg');
	}
	&.filmcomment {
		background-image: url('/img/projects/filmcomment/hero-fc.jpg');
	}
	&.avicii {
		background-image: url('/img/projects/avicii/hero-avicii.jpg');
	}
	&.fes {
		background-image: url('/img/projects/fes/hero-fes.jpg');
	}
	&.hustwit {
		background-image: url('/img/projects/hustwit/hero-hustwit.jpg');
	}
	&.littlebits {
		background-image: url('/img/projects/littlebits/hero-littlebits.jpg');
	}
	&.ndnf {
		background-image: url('/img/projects/ndnf/hero-ndnf.jpg');
	}
	&.nextgen {
		background-image: url('/img/projects/nextgen/hero-nextgen.jpg');
	}
	&.old-spice {
		background-image: url('/img/projects/old-spice/hero-old-spice.jpg');
	}
	&.raise {
		background-image: url('/img/projects/raise/hero-raise.jpg');
	}
	&.tackleebola {
		background-image: url('/img/projects/tackle-ebola/hero-te.jpg');
	}
	&.feast {
		background-image: url('/img/projects/feast/hero-feast.jpg');
	}
	&.four-seasons {
		background-image: url('/img/projects/four-seasons/hero-fs.jpg');
	}
}

.project-deets {
	font-size: 14px;
	line-height: 18px;
	dt {
    text-transform: uppercase;
    letter-spacing: 0.2em;
    margin-bottom: 5px;
    font-size: 13px;
	}
	dd {
		margin-bottom: 10px;

	}
}

.project-post {
	background: #fff;
  padding: 0;
  overflow: hidden;
  color: $color-text;
  // padding-bottom: 400px;
  @include clearfix;
	&.filmcomment {
	}	
}

.project-description {
	margin: 30px 0;
	overflow: hidden;
	@include clearfix;
	@include respond-to(medium-and-above) {
		margin: 120px 0;	
	}
	.hero {
		display: none;
		float: right;
		// right: -60%;
    // position: relative;
    // position: absolute;
		// top: 300px;
		// width: 100%;
		z-index: 1;
		margin-left: 67.9688%;
	  float: left;
	  margin-right: -100%;
	  @include respond-to(wide-and-above) {
	  	display: block;
	  }
	}
	.ipad {
		position: relative;
	}
	.iphone {
		position: relative;
		left: -10%;
		top: -400px;
	}
	.story {
		margin-bottom: 300px;
		p:first-of-type {
		  // font-size: 1.25em;
		}	
	}
	h3 {
		font-family: $typeSerif;
		color: $color-text;
		font-size: 30px;
		line-height: 36px;
		margin-bottom: 30px;
	}
}

.project-expanded {
	// background: #192030;
	position: relative;
	z-index: 2;
	// top: -250px;
	@include clearfix;
	img {
		filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
		-webkit-filter: drop-shadow(2px 2px 20px rgba(0,0,0,0.5));
	}
	&.tri-screen {
		padding-top: 120px;
		.screen {
			position: absolute;
			top: 0;
			img {
				width: 60%
			}
		}
		.screen-1 {
			left: -10%;
		}
		.screen-2 {
			top: -60px;
			z-index: 2;
			// width: 100%;
			position: relative;
			img {
				margin: 0 auto;
				display: block;
			}
		}
		.screen-3 {
			right: -10%;
			img {
				float: right;
			}
		}
		@include respond-to(wide-and-above) {
			.screen {
				position: absolute;
				top: 0;
				img {
					width: auto;
				}
			}
			.screen-1 {
				left: -20%;
			}
			.screen-2 {
				top: -60px;
				z-index: 2;
				width: 100%;
				position: relative;
				img {
					margin: 0 auto;
					display: block;
				}
			}
			.screen-3 {
				right: -20%;
				float: none;
			}
		}
	}
	&.bi-screen {
		padding-top: 120px;
		.screen {
			position: absolute;
			top: 0;
			img {
				width: 60%
			}
		}
		.screen-1 {
			left: -10%;
		}
		.screen-2 {
			top: -60px;
			z-index: 2;
			right: -29%;
			// width: 100%;
			position: relative;
			img {
				margin: 0 auto;
				display: block;
			}
		}
		@include respond-to(wide-and-above) {
			.screen {
				position: absolute;
				top: 0;
				img {
					width: auto;
				}
			}
			.screen-1 {
				left: -20%;
			}
			.screen-2 {
				top: -60px;
				z-index: 2;
				width: 100%;
				
				position: relative;
				img {
					margin: 0 auto;
					display: block;
				}
			}
		}
	}
}

.post-content {
	margin-top: -400px;
	overflow: hidden;
}