.browser {
	@include box-shadow(rgba(0,0,0,0.2) 0px 0px 10px);
	overflow: hidden;
	&.desktop {
		max-width: 1000px;
		max-height: 1000px;
	}
	&.mobile {
		max-width: 300px;
		max-height: 800px;
		border: 0 2px;
		border-color: #dcdcdc;
	}
	.bar {
		background: #dcdcdc;
		padding: 5px;
		a {
			display: block;
			padding: 3px;
			background: #eeeeee;
		}
	}
	
	.screen {
		max-width: 100%;
	}
}

.project {
	h2 {
		font-size: 18px;
		line-height: 24px;
	}
	h1 {
		font-size: 86px;
		line-height: 24px;
	}
	p {
		font-size: 24px;
		line-height: 32px;
		color: $color-text;
	}

}

.project-example {
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,.5));
	&.iphone {
		background: url("/img/projects/iphone-wrap.png") no-repeat;
		padding: 50px 14px;
		max-width: 236px;	
		height: 484px;
		display: block;
		overflow: hidden;
		.screen-wrap {
			border: 1px solid rgba(0,0,0,0,.1);
			height: 384px;
			overflow: hidden;
		}
	}
	&.ipad {
		background: url("/img/projects/ipad-horizontal-wrap.png") no-repeat;
		padding: 59px 66px;
		max-width: 828px;	
		height: 626px;
		display: block;
		overflow: hidden;
		.screen-wrap {
			border: 1px solid rgba(0,0,0,0,.1);
			height: 526px;
			overflow: hidden;
		}
		&.vertical {
			background: url("/img/projects/ipad-vertical-wrap.png") no-repeat;
		}
		
	}
	img {
		width: 100%;
		max-width: 100%;
	}
}