.text-bottom {
	position: absolute;
	bottom: 30px;
	display: block;
}

.browser {
	@include box-shadow(rgba(0,0,0,0.2) 0px 0px 10px);
	overflow: hidden;
	&.desktop {
		max-width: 1000px;
		max-height: 1000px;
	}
	&.mobile {
		max-width: 300px;
		max-height: 800px;
		border: 0 2px;
		border-color: #dcdcdc;
	}
	.bar {
		background: #dcdcdc;
		padding: 5px;
		a {
			display: block;
			padding: 3px;
			background: #eeeeee;
		}
	}
	
	.screen {
		max-width: 100%;
	}
}

.project {
	h2 {
		font-size: 18px;
		line-height: 24px;
	}
	h1 {
		font-size: 86px;
		line-height: 24px;
	}
	p {
		font-size: 24px;
		line-height: 32px;
		color: $color-text;
	}

}

.project-example {
	filter: drop-shadow(0px 0px 10px rgba(0,0,0,.2));
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.2));
	// box-shadow: 0px 0px 10px rgba(0,0,0,.5);
	&.iphone {
		background: url("/img/projects/iphone-wrap.png") no-repeat;
		padding: 50px 14px;
		max-width: 236px;	
		height: 484px;
		display: block;
		// overflow: hidden;
		.screen-wrap {
			border: 1px solid #e0e0e0;
			height: 384px;
			overflow: hidden;
		}
	}
	&.ipad {
		background: url("/img/projects/ipad-horizontal-wrap.png") no-repeat;
    padding: 58px 64px;
    max-width: 819px;
		height: 626px;
		display: block;
		// overflow: hidden;
		.screen-wrap {
			border: 1px solid #e0e0e0;
			height: 526px;
			overflow: hidden;
		}
		&.vertical {
			background: url("/img/projects/ipad-vertical-wrap.png") no-repeat;
		}	
	}
	&.macbook {
		background: url("/img/projects/macbook-wrap.png") no-repeat;
    padding: 28px 127px 57px;
    max-width: 1093px;
    height: 637px;
		display: block;
		// overflow: hidden;
		.screen-wrap {
			border: 1px solid #000;
			height: 531px;
			overflow: hidden;
		}
		&.long {
			background: url("/img/projects/macbook-long-wrap.png") no-repeat;
			height: 937px;
			.screen-wrap {
				height: 900px;
			}
		}
	}
	img {
		width: 100%;
		max-width: 100%;
	}
}

.button {
	background: $color-red;
	color: white;
	font-family: $typeSans;
	text-decoration: none;
	padding: 8px 15px;
	font-size: 16px;
	&:hover {
		color: white;
		background: darken($color-red, 20%);
	}
}

.arrow {
	@include icon-after(icon-right-arrow);
	&:after {
		padding-left: 7px;
	}
}