/* UTILITIES */

// Clearfix
.cf:before, .cf:after {content:" "; display:table;}
.cf:after {clear: both;}
  //IE
  .cf {*zoom: 1;}

// Misc

.hide { display: none; }


.t-hidden {
	display: inherit;
	@include respond-to(medium-screens) {
		display: none;
	}
}

.t-visible {
	display: none;
	@include respond-to(medium-screens) {
		display: inherit;
	}
}

.h-hidden {
	display: inherit;
	@include respond-to(handhelds) {
		display: none;
	}
}

.h-visible {
	display: none;
	@include respond-to(handhelds) {
		display: inherit;
	}
}