// Variables

$typeSans: "Macha-medium", Helvetica, Arial, sans-serif;
$typeSerif: "minion-pro", Georgia, Times, serif;

$radius: 4px;

$color-light: #e4eff0;
$color-dark: #426c6f;
$color-hover: #33595d;
$color-action: #e07a2f;
$color-text: rgba(0,0,0,0.8);
$color-red: #e82643;
$color-dark-blue: #242742;
$color-darkest-blue: #07111e;
