// Variables

$typeMedium: "Macha-medium", Helvetica, Arial, sans-serif;

$radius: 4px;

$color-light: #e4eff0;
$color-dark: #426c6f;
$color-hover: #33595d;
$color-action: #e07a2f;
$color-text: #4c4c4c;