---
layout: home
---

{% include head.html %}
<body class="page-home">
	 
	<section class="intro">
		{% include header.html %}
		<div class="container">
			<div class="tagline-wrap">
				<div class="wrap">
					<h2 class="">Your organization does important work. <br />
						Let’s tell the world about it.
					</h2>
					<p><a href="/contact" class="arrow">Get in Touch</a> </p>
				</div>
			</div>
			<div class="logo-section">
				
				<div class="logos">
					<img src="/img/logos/logo-bar-stacked.png" alt="Client logos" class="stacked" />
					<img src="/img/logos/logo-bar-wide.png" alt="Client logos" class="wide" />
				</div>
				<div class="details">
					<h3>Cottleston Pie works with nonprofits, higher education, cultural institutions, and positive-impact companies to create websites &amp; digital products.</h3>
		 			<p>Looking to work together? <a href="/contact" class="arrow">Get in Touch</a></p>
		 		</div>
			</div>
		</div>
	</section>

	<section class="more-work" id="work">
		<h3 class="section d1-d12">Recent Projects</h3>
		<div class="project-item yale light-text">
			<div class="container">
				<div class="wrap">
					<div class="logo fade-box">
						<!-- <a href="/projects/yale"> -->
							<img src="/img/home/logo-yale.svg" alt="Yale logo" class="lazyload" />
						<!-- </a> -->
					</div>
					<div class="description-wrap">
						<p class="short-description">Designing the first step in the Yale experience: the Admissions website</p>
						<!-- <p><a href="/projects/yale" class="arrow"><em>View the Work</em></a></p> -->
					</div>
				</div>
			</div>
			<div class="device fade-box">
				<!-- <a href="/projects/yale"> -->
					<img 
					data-sizes="auto"
					src="/img/home/devices/device-yale-iphone-left-crop-30.png" 
					srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
					data-srcset="/img/home/devices/device-yale-iphone-left-crop-30.png 80w,
				    /img/home/devices/device-yale-iphone-left-crop-60.png 150w,
				    /img/home/devices/device-yale-iphone-left-crop.png 250w,
				    /img/home/devices/device-yale-iphone-left-crop-120.png 300w	"								
			    class="lazyload"
					alt="Yale design in the context of an iPhone" 
					/>
				<!-- </a> -->
			</div>	
		</div>

		<div class="quote-item filmlinc">
				<div class="quote-text">
					<div class="wrap">
						<div class="inner-wrap">
							<p>Cottleston Pie guided our team through many tough decisions, presenting elegant design solutions that respected our unique business priorities. The finished websites have grown beautifully and customer feedback has been very positive.</p>
							<address>
								<em>Michael Gibbons, Director of Digital Platforms
								<strong><a href="http://www.filmlinc.org">Film Society of Lincoln Center</a></strong></em>
							</address>
						</div>
					</div>
				</div>
		</div>

		<div class="container">
			<div class="project-item nyit">
				<div class="device fade-box">
					<!-- <a href="/projects/nyit"> -->
						<img 
						data-sizes="auto"
						src="/img/home/devices/device-nyit-tall-ipad-left-30.png" 
						srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
						data-srcset="/img/home/devices/device-nyit-tall-ipad-left-30.png 100w,
					    /img/home/devices/device-nyit-tall-ipad-left-60.png 300w,
					    /img/home/devices/device-nyit-tall-ipad-left.png 400w,
					    /img/home/devices/device-nyit-tall-ipad-left-120.png 800w"								
				    class="lazyload"
						alt="NYIT design in the context of an iPad" 
						/>
					<!-- </a> -->
				</div>	
				<div class="wrap">
					<div class="inner-wrap">
						<div class="center">
							<div class="inner-center">
								<div class="logo fade-box">
									<!-- <a href="/projects/nyit"> -->
										<img src="/img/home/logo-nyit.svg" alt="NYIT logo" class="lazyload"/>
									<!-- </a> -->
								</div>
								<div class="description-wrap">
									<p class="short-description">Creating an accessible web site for a school steeped in technology</p>
									<p>
										<!-- <a href="/projects/nyit" class="arrow"> -->
											<!-- <em>View the Work</em> -->
										<!-- </a> -->
									</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="project-item filmlinc light-text">
					<div class="device fade-box">
						<a href="/projects/film-society-lincoln-center">
							<img 
							data-sizes="auto"
							src="/img/home/devices/device-filmlinc-wide-ipad-right-30.png" 
							srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-srcset="/img/home/devices/device-filmlinc-wide-ipad-right-30.png 100w,
						    /img/home/devices/device-filmlinc-wide-ipad-right-60.png 300w,
						    /img/home/devices/device-filmlinc-wide-ipad-right.png 400w,
						    /img/home/devices/device-filmlinc-wide-ipad-right-120.png 800w"								
					    class="lazyload"
							alt="FilmLinc design in the context of an iPad" 
							/>
						</a>
					</div>	
					<div class="wrap">
						<div class="logo fade-box">
							<a href="/projects/film-society-lincoln-center"><img src="/img/home/logo-filmlinc.svg" alt="FilmLinc logo" class="lazyload" /></a>
						</div>
						<div class="description-wrap">
							<p class="short-description">Rethinking digital programing for a NYC film institution</p>
							<p><a href="/projects/film-society-lincoln-center" class="arrow"><em>View the Work</em></a></p>
						</div>
					</div>
			</div>
		</div>

			<div class="container">
				<div class="project-item okcjr">
						<div class="device fade-box">
							<a href="/projects/okcjr">
								<img 
								data-sizes="auto"
								src="/img/home/devices/device-ocjr-iphone-right-30.png" 
								srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-srcset="/img/home/devices/device-ocjr-iphone-right-30.png 100w,
							    /img/home/devices/device-ocjr-iphone-right-60.png 300w,
							    /img/home/devices/device-ocjr-iphone-right.png 400w"								
						    class="lazyload"
								alt="Oklohomans for Criminal Justice Reform design in the context of an iPad" 
								/>
							</a>
						</div>	
						<div class="wrap">
							<div class="logo fade-box">
								<a href="/projects/okcjr"><img src="/img/home/logo-aclu.svg" alt="ACLU logo" class="lazyload" /></a>
							</div>
							<div class="description-wrap">
								<p class="short-description">Fighting for criminal justice reform in Oklahoma.</p>
								<p><a href="/projects/okcjr" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
				</div>

				<div class="project-item nextgen">
						<div class="wrap">
							<div class="logo fade-box">
								<a href="/projects/nextgen">
									<img src="/img/home/logo-nextgen.png" alt="NextGen Climate logo" class="lazyload" />
								</a>
							</div>
							<div class="description-wrap">
								<p class="short-description">Bringing climate change to the forefront of American Politics</p>
								<p><a href="/projects/nextgen" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>

						<div class="device fade-box">
							<a href="/projects/nextgen">
								<img 
								data-sizes="auto"
								src="/img/home/devices/device-nextgen-wide-ipad-right-30.png" 
								srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-srcset="/img/home/devices/device-nextgen-wide-ipad-right-30.png 100w,
							    /img/home/devices/device-nextgen-wide-ipad-right-60.png 300w,
							    /img/home/devices/device-nextgen-wide-ipad-right.png 400w,
							    /img/home/devices/device-nextgen-wide-ipad-right-120.png 800w"								
						    class="lazyload"
								alt="NextGen Climate design in the context of an iPad" 
								/>
							</a>
						</div>	
				</div>
			</div>

			
			<div class="project-item audubon">
				<div class="container">
					
						<div class="wrap">
							<div class="logo fade-box">
								<a href="/projects/audubon">
									<img src="/img/home/logo-audubon.svg" alt="Audubon logo" class="lazyload" />
								</a>
							</div>
							<div class="description-wrap">
								<p class="short-description">Rethinking digital programing for a NYC film institution</p>
								<p><a href="/projects/audubon" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
						<div class="device fade-box">
							<a href="/projects/audubon">
								<img 
								data-sizes="auto"
								src="/img/home/devices/device-audubon-tall-ipad-left-30.png" 
								srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-srcset="/img/home/devices/device-audubon-tall-ipad-left-30.png 100w,
							    /img/home/devices/device-audubon-tall-ipad-left-60.png 300w,
							    /img/home/devices/device-audubon-tall-ipad-left.png 400w,
							    /img/home/devices/device-audubon-tall-ipad-left-120.png 800w"								
						    class="lazyload"
								alt="Audubon design in the context of an iPad" 
								/>
							</a>
						</div>					
					</a>
				</div>
			</div>

			<div class="container">
				<div class="project-item raise">
					<div class="device fade-box">
						<a href="/projects/raise-the-wage">
							<img 
							data-sizes="auto"
							src="/img/home/devices/device-raise-tall-ipad-right-30.png" 
							srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-srcset="/img/home/devices/device-raise-tall-ipad-right-30.png 100w,
						    /img/home/devices/device-raise-tall-ipad-right-60.png 300w,
						    /img/home/devices/device-raise-tall-ipad-right.png 400w,
						    /img/home/devices/device-raise-tall-ipad-right-120.png 800w"								
					    class="lazyload"
							alt="Raise the Wage design in the context of an iPad" 
							/>
						</a>
					</div>					
					<div class="wrap">
						<div class="logo fade-box">
							<a href="/projects/raise-the-wage"><img src="/img/home/logo-raise.svg" alt="Raise the Wage logo" class="lazyload" /></a>
						</div>
						<div class="description-wrap">
							<p class="short-description">Changing the minumum wage to a livable wage in Los Angeles</p>
							<p><a href="/projects/raise-the-wage" class="arrow"><em>View the Work</em></a></p>
						</div>
					</div>
				</div>
			</div>

			<div class="container">
				<div class="project-item tackle-ebola">
					<a href="/projects/tackle-ebola">
						
						<div class="wrap">
							<div class="logo fade-box">
								<a href="/projects/tackle-ebola"><img src="/img/home/logo-tackle-ebola.svg" alt="Tackle Ebola logo" class="lazyload" /></a>
							</div>
							<div class="description-wrap">
								<p class="short-description">Designing Paul Allen’s push to Tackle Ebola</p>
								<p><a href="projects/tackle-ebola" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
						<div class="device fade-box">
							<a href="/projects/tackle-ebola">
							<img 
								data-sizes="auto"
								src="/img/home/devices/device-tackle-ebola-iphone-left-30.png" 
								srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-srcset="/img/home/devices/device-tackle-ebola-iphone-left-30.png 50w,
							    /img/home/devices/device-tackle-ebola-iphone-left-60.png 150w,
							    /img/home/devices/device-tackle-ebola-iphone-left.png 230w"								
						    class="lazyload"
								alt="Tackle Ebola design in the context of an iPad" 
								/>
							</a>
						</div>
				</div>

				<div class="project-item the-feast">
					
						<div class="wrap">
							<div class="logo fade-box">
								<a href="/projects/nextgen"><img src="/img/home/logo-the-feast.svg" alt="The Fest Climate logo" class="lazyload" /></a>
							</div>
							<div class="description-wrap">
								<p class="short-description">Designing a web app to allow festival attendees to share ideas</p>
								<p><a href="/project/nextgen" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
						<div class="device fade-box">
							<a href="/projects/nextgen"><img 
								data-sizes="auto"
								src="/img/home/devices/device-the-feast-wide-ipad-left-30.png" 
								srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-srcset="/img/home/devices/device-the-feast-wide-ipad-left-30.png 100w,
							    /img/home/devices/device-the-feast-wide-ipad-left-60.png 300w,
							    /img/home/devices/device-the-feast-wide-ipad-left.png 400w,
							    /img/home/devices/device-the-feast-wide-ipad-left-120.png 800w"								
						    class="lazyload"
								alt="The Feast design in the context of an iPad" 
								/></a>
						</div>
					</a>
				</div>
			</div>

			<div class="container">
				<div class="project-item film-comment light-text">						
						<div class="wrap">
							<div class="logo fade-box">
								<a href="/projects/film-comment"><img src="/img/home/logo-filmcomment.svg" alt="Film Comment logo" class="lazyload" /></a>
							</div>
							<div class="description-wrap">
								<p class="short-description">Creating the digital home for a prominent film magazine</p>
								<p><a href="/projects/film-comment" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
						<div class="device fade-box">
							<a href="/projects/film-comment">
								<img 
									data-sizes="auto"
									src="/img/home/devices/device-filmcomment-wide-ipad-right-30.png" 
									srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-srcset="/img/home/devices/device-filmcomment-wide-ipad-right-30.png 200w,
								    /img/home/devices/device-filmcomment-wide-ipad-right-60.png 400w,
								    /img/home/devices/device-filmcomment-wide-ipad-right.png 600w,
								    /img/home/devices/device-filmcomment-wide-ipad-right-120.png 800w"								
							    class="lazyload"
									alt="Film Comment design in the context of an iPad" 
									/>
							</a>
						</div>
				</div>
			</div>

			<div class="container cf">
				<div class="project-item fes light-text">
					
						
						<div class="wrap">
							<div class="logo fade-box">
								<a href="/projects/families-for-excellent-schools"><img src="/img/home/logo-fes.svg" alt="Families for Excellent Schools logo" class="lazyload" /></a>
							</div>
							<div class="description-wrap">
								<p class="short-description">Fighting for the right to an excellent education.</p>
								<p><a href="/projects/families-for-excellent-schools" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
						<div class="device fade-box">
							<a href="/projects/families-for-excellent-schools">
								<img 
									data-sizes="auto"
									src="/img/home/devices/device-fes-tall-ipad-left-30.png" 
									srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
									data-srcset="/img/home/devices/device-fes-tall-ipad-left-30.png 200w,
								    /img/home/devices/device-fes-tall-ipad-left-60.png 400w,
								    /img/home/devices/device-fes-tall-ipad-left.png 600w,
								    /img/home/devices/device-fes-tall-ipad-left-120.png 800w"								
							    class="lazyload"
									alt="Families for Excellent Schools design in the context of an iPad" 
									/>
								</a>
						</div>
					</a>
				</div>

				<div class="quote-item etr">
					<div class="quote-text">
						<div class="wrap">
							<div class="inner-wrap">
								<p>Dave is a pleasure to work with. He’s a talented designer who can quickly grasp clients’ business goals and deliver polished, thoughtful atnd beautiful designs. Dave is also a strong design presenter and articulates his design decisions in a way that clients can easily understand.</p>
								<address>
									<em>Daniela Botterbusch, Digital Strategist
									<strong><a href="http://www.expandtheroom.com">ExpandTheRoom</a></strong></em>
								</address>
							</div>
						</div>
					</div>
				</div>
		</div>

		<div class="project-item patronage light-text">
			<div class="container">
				<div class="wrap">
					<div class="logo fade-box">
						<a href="/projects/audubon"><img src="/img/home/logo-patronage.svg" alt="Patronage logo" class="lazyload" /></a>
					</div>
					<div class="description-wrap">
						<p class="short-description">Ignite a culture of giving in your workplace.</p>
						<p><a href="/projects/audubon" class="arrow"><em>View the Work</em></a></p>
					</div>
				</div>
				<div class="devices">
					<div class="device-a fade-box">
						<a href="/projects/patronage">
							<img 
								data-sizes="auto"
								src="/img/home/devices/device-patronage-ui-wide-ipad-right-30.png" 
								srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-srcset="/img/home/devices/device-patronage-ui-wide-ipad-right-30.png 200w,
							    /img/home/devices/device-patronage-ui-wide-ipad-right-60.png 400w,
							    /img/home/devices/device-patronage-ui-wide-ipad-right.png 600w,
							    /img/home/devices/device-patronage-ui-wide-ipad-right-120.png 800w"								
						    class="lazyload"
								alt="Patronage design in the context of an iPad" 
								/>
						</a>
					</div>
					<div class="device-b fade-box">
						<a href="/projects/patronage">
							<img 
								data-sizes="auto"
								src="/img/home/devices/device-patronage-marketing-tall-ipad-left-30.png" 
								srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
								data-srcset="/img/home/devices/device-patronage-marketing-tall-ipad-left-30.png 200w,
							    /img/home/devices/device-patronage-marketing-tall-ipad-left-60.png 400w,
							    /img/home/devices/device-patronage-marketing-tall-ipad-left.png 600w,
							    /img/home/devices/device-patronage-marketing-tall-ipad-left-120.png 800w"								
						    class="lazyload"
								alt="Patronage design in the context of an iPad" 
								/>
						</a>
					</div>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="project-item fairness">
				<div class="device fade-box">
					<a href="/projects/the-fairness-project">
						<img 
							data-sizes="auto"
							src="/img/home/devices/device-fairness-iphone-right-30.png" 
							srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-srcset="/img/home/devices/device-fairness-iphone-right-30.png 200w,
						    /img/home/devices/device-fairness-iphone-right-60.png 400w,
						    /img/home/devices/device-fairness-iphone-right.png 600w"								
					    class="lazyload"
							alt="The Fairness Project design in the context of an iPhone" 
							/>
					</a>
				</div>
				<div class="wrap">
					<div class="logo fade-box">
						<a href="/projects/the-fairness-project"><img src="/img/home/logo-fairness.svg" alt="The Fairness Project logo" class="lazyload" /></a>
					</div>
					<div class="description-wrap">
						<p class="short-description">Fighting for a fair wage on a national and state level.</p>
						<p><a href="/projects/the-fairness-project" class="arrow"><em>View the Work</em></a></p>
					</div>
				</div>
			</div>

			<div class="project-item muckfest light-text">
				<div class="wrap">
					<div class="logo fade-box">
						<a href="/projects/muckfest"><img src="/img/home/logo-muckfest.png" alt="Muckfest MS logo" class="lazyload" /></a>
					</div>
					<div class="description-wrap">
						<p class="short-description">Making registration for MS Society events a little Muckier (in a good way).</p>
						<p><a href="/projects/muckfest" class="arrow"><em>View the Work</em></a></p>
					</div>
				</div>
				<div class="device fade-box">
					<a href="/projects/muckfest">
						<img 
							data-sizes="auto"
							src="/img/home/devices/device-muckfest-wide-ipad-left-30.png" 
							srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-srcset="/img/home/devices/device-muckfest-wide-ipad-left-30.png 200w,
						    /img/home/devices/device-muckfest-wide-ipad-left-60.png 400w,
						    /img/home/devices/device-muckfest-wide-ipad-left.png 600w"								
					    class="lazyload"
							alt="Muckfest design in the context of an iPad" 
							/>
					</a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="project-item hustwit light-text">
				<div class="wrap">
					<div class="logo fade-box">
						<img src="/img/home/logo-hustwit.svg" alt="Gary Hustwit logo" class="lazyload" />
					</div>
					<div class="description-wrap">
						<p class="short-description">Creating a home for a filmmaker’s expanding body of work</p>
						<p><a href="/projects/hustwit" class="arrow"><em>View the Work</em></a></p>
					</div>
				</div>
				<div class="device fade-box">
					<a href="/projects/hustwit">
						<img 
							data-sizes="auto"
							src="/img/home/devices/device-hustwit-tall-ipad-left-30.png" 
							srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-srcset="/img/home/devices/device-hustwit-tall-ipad-left-30.png 200w,
						    /img/home/devices/device-hustwit-tall-ipad-left-60.png 400w,
						    /img/home/devices/device-hustwit-tall-ipad-left.png 600w"								
					    class="lazyload"
							alt="Gary Hustwit design in the context of an iPad" 
							/>
					</a>
				</div>
			</div>

			<div class="project-item littlebits">
				<div class="wrap">
					<div class="logo fade-box">
						<a href="/projects/littlebits"><img src="/img/home/logo-littlebits.svg" alt="Littlebits logo" class="lazyload" /></a>
					</div>
					<div class="description-wrap">
						<p class="short-description">Designing the democratization of hardware</p>
						<p><a href="/projects/littlebits" class="arrow"><em>View the Work</em></a></p>
					</div>
				</div>
				<div class="device fade-box">
					<a href="/projects/littlebits">
						<img 
							data-sizes="auto"
							src="/img/home/devices/device-littlebits-wide-ipad-right-30.png" 
							srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
							data-srcset="/img/home/devices/device-littlebits-wide-ipad-right-30.png 200w,
						    /img/home/devices/device-littlebits-wide-ipad-right-60.png 400w,
						    /img/home/devices/device-littlebits-wide-ipad-right.png 600w"								
					    class="lazyload"
							alt="Littlebits design in the context of an iPhone" 
							/>
					</a>
				</div>
			</div>
		</div>

	</section>

  {% include footer.html %}
  <script src="https://get.gridsetapp.com/16410/overlay/"></script>
	<script type="text/javascript" src="/js/noframework.waypoints.min.js"></script>
	<script type="text/javascript" src="/js/index.js"></script>
  </body>

</html>