---
layout: home
---

{% include head.html %}
<body class="page-home">
	 
	<section class="intro">
		{% include header.html %}
		<div class="container">
			<div class="tagline-wrap">
				<h2 class="">Your organization does important work. <br />
					Let’s tell the world about it.
					</h2>
					<p><a href="/contact">Get in Touch</a> </p>
			</div>
			<div class="logo-section">
				
				<div class="logos">
					<img src="/img/logos/logo-bar-stacked.png" alt="Client logos" class="stacked" />
					<img src="/img/logos/logo-bar-wide.png" alt="Client logos" class="wide" />
				</div>
				<div class="details">
					<h3>Cottleston Pie works with nonprofits, higher education and cultural institions, and political campaigns to create websites and digital products</h3>
		 			<p>Looking to work together? <a href="/contact" class="arrow">Get in Touch</a></p>
		 		</div>
			</div>
		</div>
	</section>
	
	<!-- <section class="logo-bar">
		<div class="container">
			<h3 class="section d1-d12">Recent Clients (case studies in the works)</h3>
			<div class="logo-section">
				<img src="/img/logos/logo-bar-stacked.png" alt="Client logos" class="stacked" />
				<img src="/img/logos/logo-bar-wide.png" alt="Client logos" class="wide" />
			</div>
			<div class="quotes">
				<div class="quote">
					<p>Cottleston Pie took the potentially daunting redesign of two complex websites and broke it all down into a clear, organized process. They calmly guided our team through many tough decisions, presenting elegant design solutions that respected our unique business priorities. The finished websites grown beautifully and customer feedback has been very positive.</p>
					<address class="author">Michael Gibbons, Director of Digital Platforms <strong><a href="http://www.filmlinc.org">Film Society of Lincoln Center</a></strong></address>
				</div>
				<div class="quote">
					<p>Dave is a pleasure to work with. He&#8217;s a talented designer who can quickly grasp clients&#8217; business goals and deliver polished, thoughtful and beautiful designs. Dave is also a strong design presenter and articulates his design decisions in a way that clients can easily understand.</p>
					<address class="author">Daniela Botterbusch, Digital Strategist <strong><a href="http://www.expandtheroom.com/">ExpandTheRoom</a></strong></address>
				</div>
			</div>
		</div>
	</section> -->

	<section class="more-work" id="work">
		<div class="container">
			<h3 class="section d1-d12">Recent Projects</h3>
		</div>
			<div class="project-item yale light-text">
				<div class="container">
					<div class="wrap">
						<div class="logo">
							<a href="/projects/yale">
								<img src="/img/home/logo-yale.svg" alt="Yale logo" />
							</a>
						</div>
						<div class="description-wrap">
							<p class="short-description">Designing the first step in the Yale experience: the Admissions website</p>
							<p><a href="" class="arrow"><em>View the Work</em></a></p>
						</div>
					</div>
					<div class="device">
						<a href="/projects/yale">
							<img src="/img/home/device-yale-iphone-left-crop.png" alt="Yale design in the context of an iPhone" />
						</a>
					</div>
				</div>
			</div>


			<div class="quote-item filmlinc">
					<div class="quote-text">
						<div class="wrap">
							<div class="inner-wrap">
								<p>“Cottleston Pie guided our team through many tough decisions, presenting elegant design solutions that respected our unique business priorities. The finished websites have grown beautifully and customer feedback has been very positive.”</p>
								<address>
									<em>Michael Gibbons, Director of Digital Platforms
									<strong>Film Society of Lincoln Center</strong></em>
								</address>
							</div>
						</div>
					</div>
			</div>
			<div class="container">
				<div class="project-item nyit">
					<a href="/projects/nyit">
						<div class="device">
							<img src="/img/home/device-nyit-tall-ipad-left.png" alt="NYIT design in the context of an iPad" />
						</div>
						<div class="wrap">
							<div class="inner-wrap">
								<div class="center">
									<div class="inner-center">
										<div class="logo">
											<img src="/img/home/logo-nyit.svg" alt="NYIT logo" />
										</div>
										<div class="description-wrap">
											<p class="short-description">Designing the first step in the NYIT experience</p>
											<p><a href="" class="arrow"><em>View the Work</em></a></p>
										</div>
									</div>
								</div>
							</div>
						</div>
						
					</a>
				</div>
			</div>

			<div class="container">
				<div class="project-item filmlinc light-text">
					<a href="/projects/film-society-linoln-center">
						<div class="device">
							<img src="/img/home/device-filmlinc-wide-ipad-right.png" alt="FilmLinc design in the context of an iPad" />
						</div>
						<div class="wrap">
							<div class="logo">
								<img src="/img/home/logo-filmlinc.svg" alt="FilmLinc logo" />
							</div>
							<div class="description-wrap">
								<p class="short-description">Rethinking digital programing for a NYC film institution</p>
								<p><a href="" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="container">
				<div class="project-item okcjr">
					<a href="/projects/okcjr">
						<div class="device">
							<img src="/img/home/device-ocjr-iphone-right.png" alt="Oklohomans for Criminal Justice Reform design in the context of an iPad" />
						</div>
						<div class="wrap">
							<div class="logo">
								<img src="/img/home/logo-aclu.svg" alt="ACLU logo" />
							</div>
							<div class="description-wrap">
								<p class="short-description">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
								<p><a href="" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
					</a>
				</div>

				<div class="project-item nextgen">
					<a href="/projects/nextgen">
						
						<div class="wrap">
							<div class="logo">
								<img src="/img/home/logo-nextgen.png" alt="NextGen Climate logo" />
							</div>
							<div class="description-wrap">
								<p class="short-description">Morbi leo risus, porta ac consectetur ac, vestibulum at eros.</p>
								<p><a href="" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
						<div class="device">
							<img src="/img/home/device-nextgen-wide-ipad-right.png" alt="NextGen Climate design in the context of an iPad" />
						</div>
					</a>
				</div>
			</div>

			
			<div class="project-item audubon">
				<div class="container">
					<a href="/projects/audubon">
						<div class="wrap">
							<div class="logo">
								<img src="/img/home/logo-audubon.svg" alt="Audubon logo" />
							</div>
							<div class="description-wrap">
								<p class="short-description">Rethinking digital programing for a NYC film institution</p>
								<p><a href="" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
						<div class="device">
							<img src="/img/home/device-audubon-tall-ipad-left.png" alt="Audubon design in the context of an iPad" />
						</div>
					</a>
				</div>
			</div>

			<div class="container">
				<div class="project-item raise">
					<div class="device">
						<img src="/img/home/device-raise-tall-ipad-right.png" alt="Raise the Wage design in the context of an iPad" />
					</div>
					<a href="/projects/raise-the-wage">
						<div class="wrap">
							<div class="logo">
								<img src="/img/home/logo-raise.svg" alt="Raise the Wage logo" />
							</div>
							<div class="description-wrap">
								<p class="short-description">Changing the minumum wage to a livable wage in Los Angeles</p>
								<p><a href="" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="container">
				<div class="project-item tackle-ebola">
					<a href="/projects/tackle-ebola">
						
						<div class="wrap">
							<div class="logo">
								<a href="/projects/tackle-ebola"><img src="/img/home/logo-tackle-ebola.svg" alt="Tackle Ebola logo" /></a>
							</div>
							<div class="description-wrap">
								<p class="short-description">Designing Paul Allen’s push to Tackle Ebola</p>
								<p><a href="" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
						<div class="device">
							<a href="/projects/tackle-ebola"><img src="/img/home/device-tackle-ebola-iphone-left.png" alt="Tackle Ebola design in the context of an iPad" /></a>
						</div>
				</div>

				<div class="project-item the-feast">
					<a href="/projects/nextgen">
						
						<div class="wrap">
							<div class="logo">
								<img src="/img/home/logo-the-feast.svg" alt="The Fest Climate logo" />
							</div>
							<div class="description-wrap">
								<p class="short-description">Designing a web app to allow festival attendees to share ideas</p>
								<p><a href="" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
						<div class="device">
							<img src="/img/home/device-the-feast-wide-ipad-left.png" alt="The Feast design in the context of an iPad" />
						</div>
					</a>
				</div>
			</div>

			<div class="container">
				<div class="project-item film-comment light-text">
					<a href="/projects/film-comment">
						<div class="device">
							<img src="/img/home/device-filmcomment-wide-ipad-right.png" alt="Film Comment design in the context of an iPad" />
						</div>
						<div class="wrap">
							<div class="logo">
								<img src="/img/home/logo-filmcomment.svg" alt="Film Comment logo" />
							</div>
							<div class="description-wrap">
								<p class="short-description">Creating the digital home for a prominent film magazine</p>
								<p><a href="" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
					</a>
				</div>
			</div>

			<div class="container cf">
				<div class="project-item fes light-text">
					<a href="/projects/families-for-excellent-schools">
						
						<div class="wrap">
							<div class="logo">
								<img src="/img/home/logo-fes.svg" alt="Families for Excellent Schools logo" />
							</div>
							<div class="description-wrap">
								<p class="short-description">Fighting for the right to an excellent education.</p>
								<p><a href="" class="arrow"><em>View the Work</em></a></p>
							</div>
						</div>
						<div class="device">
							<img src="/img/home/device-fes-tall-ipad-left.png" alt="Families for Excellent Schools design in the context of an iPad" />
						</div>
					</a>
				</div>
				<div class="quote-item etr">
					<div class="quote-text">
						<div class="wrap">
							<div class="inner-wrap">
								<p>“Dave is a pleasure to work with. He’s a talented designer who can quickly grasp clients’ business goals and deliver polished, thoughtful atnd beautiful designs. Dave is also a strong design presenter and articulates his design decisions in a way that clients can easily understand.”</p>
								<address>
									<em>Daniela Botterbusch, Digital Strategist
									<strong>ExpandTheRoom</strong></em>
								</address>
							</div>
						</div>
					</div>
				</div>
		</div>

		

		<div class="project-item patronage light-text">
			<div class="container">
				<a href="/projects/audubon">
					<div class="wrap">
						<div class="logo">
							<img src="/img/home/logo-patronage.svg" alt="Patronage logo" />
						</div>
						<div class="description-wrap">
							<p class="short-description">Ignite a culture of giving in your workplace.</p>
							<p><a href="" class="arrow"><em>View the Work</em></a></p>
						</div>
					</div>
					<div class="devices">
						<div class="device-a">
							<img src="/img/home/device-patronage-ui-wide-ipad-right.png" alt="Patronage design in the context of an iPad" />
						</div>
						<div class="device-b">
							<img src="/img/home/device-patronage-marketing-tall-ipad-left.png" alt="Patronage design in the context of an iPad" />
						</div>
					</div>
				</a>
			</div>
		</div>

		<div class="container">
			<div class="project-item fairness">
				<a href="/projects/the-fairness-project">
					<div class="device">
						<img src="/img/home/device-fairness-iphone-right.png" alt="The Fairness Project design in the context of an iPhone" />
					</div>
					<div class="wrap">
						<div class="logo">
							<img src="/img/home/logo-fairness.svg" alt="The Fairness Project logo" />
						</div>
						<div class="description-wrap">
							<p class="short-description">Fighting for a fair wage on a national and state level.</p>
							<p><a href="" class="arrow"><em>View the Work</em></a></p>
						</div>
					</div>
				</a>
			</div>

			<div class="project-item muckfest light-text">
				<a href="/projects/muckfest">
					<div class="wrap">
						<div class="logo">
							<img src="/img/home/logo-muckfest.png" alt="Muckfest MS logo" />
						</div>
						<div class="description-wrap">
							<p class="short-description">Making registration for MS Society events a little Muckier (in a good way).</p>
							<p><a href="" class="arrow"><em>View the Work</em></a></p>
						</div>
					</div>
					<div class="device">
						<img src="/img/home/device-muckfest-wide-ipad-left.png" alt="Muckfest design in the context of an iPad" />
					</div>
				</a>
			</div>
		</div>

		<div class="container">

			<div class="project-item hustwit light-text">
				<a href="/projects/hustwit">
					<div class="wrap">
						<div class="logo">
							<img src="/img/home/logo-hustwit.svg" alt="Gary Hustwit logo" />
						</div>
						<div class="description-wrap">
							<p class="short-description">A filmmaker’s expanding empire</p>
							<p><a href="" class="arrow"><em>View the Work</em></a></p>
						</div>
					</div>
					<div class="device">
						<img src="/img/home/device-hustwit-tall-ipad-left.png" alt="Gary Hustwit design in the context of an iPad" />
					</div>
				</a>
			</div>

			<div class="project-item littlebits">
				<a href="/projects/littlebits">
					<div class="wrap">
						<div class="logo">
							<img src="/img/home/logo-littlebits.svg" alt="Littlebits logo" />
						</div>
						<div class="description-wrap">
							<p class="short-description">Fighting for a fair wage on a national and state level.</p>
							<p><a href="" class="arrow"><em>View the Work</em></a></p>
						</div>
					</div>
					<div class="device">
						<img src="/img/home/device-littlebits-wide-ipad-right.png" alt="Littlebits design in the context of an iPhone" />
					</div>
				</a>
			</div>
		</div>

	</section>

  {% include footer.html %}

  </body>
<script src="https://get.gridsetapp.com/16410/overlay/"></script>
</html>