---
layout: home
title: Cottleston Pie
---

{% include head.html %}

	<section class="intro">
		<div class="nav-wrap">
			<div class="container">
				<nav class="d7-d12 t4-t6">
					<ul>
						<li><a href="/about">About</a></li>
						<li><a href="#work">Work</a></li>
						<li><a href="/contact">Hire</a></li>
					</ul> 
				</nav>	
				<div class="tagline-wrap">
					<h2 class="d7-d12 t4-t6">A tiny design studio in New York City</h2>
				</div>
			</div>
		</div>
		<div class="title-wrap">
			<h1>
				<img src="/img/cottleston-pie-large.svg" alt="Cottleston Pie" class="h-hidden" />
				<img src="/img/cottleston-pie-small.svg" alt="Cottleston Pie" class="h-visible" />
			</h1>
		</div>
	</section>
	<section class="description">
		<div class="container">
			<div class="d1-d8">
				<h2 class="t1-t5">Cottleston Pie works with organizations that make a positive impact in the world.</h2>
				<div class="t1-t3">
					<p>We work with organizations to design and build things used on screens. From conception to delivery (and every step in between), Cottleston Pie takes a wholistic approach to digital design.</p>				
					<p>Specializing in UX &amp; UI Design, responsive web design and development. Available for full projects or as an individual consultant.</p>
	 
					<p>Looking to collaborate? <a href="/contact" class="button">Hire Cottleston Pie</a></p>
				</div>
			</div>
			<div class="featured-work">
				<div class="project-1">
					<div class="project-example macbook long nextgen">
						<div class="screen-wrap">
							<img src="/img/projects/nextgen-desktop.jpg" alt="" />
						</div>
					</div>
					<div class="project-example iphone nextgen">
						<img src="/img/projects/nextgen-mobile.jpg" alt="" />
					</div>
				</div>
				<div class="project-2">
					<div class="project-example filmlinc ipad">
						<div class="screen-wrap">
							<img src="/img/projects/filmlinc.org-desktop-home.jpg" alt="" />
						</div>
					</div>
					<div class="project-example filmlinc iphone">
						<img src="/img/projects/filmlinc.org-mobile-home.jpg" alt="" />
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="more-work" id="work">
		<div class="container">
			<h3 class="section d1-d12">Recent Projects</h3>
			<a href="/projects/film-society-lincoln-center" class="project filmlinc t1-t4 d1-d8">
				<div class="title-wrap">
					<h4>film society of lincoln center</h4>
					<h3>Rethinking digital programing for a NYC film institution</h3>
				</div>
			</a>
			<a href="/projects/film-comment" class="project filmcomment small h1-h3 t5-t6 d9-d12">
				<div class="text-bottom title-wrap">
					<h4>Film Comment</h4>
					<h3>Creating a digital home for a prominent print magazine</h3>
				</div>
			</a>
			<a href="/projects/nextgen" class="project nextgen wide t1-t6 d1-d12">
				<div class="title-wrap">
					<h4>Nextgen Climate</h4>
					<h3>Bringing climate change to the forefront of American politics</h3>
				</div>
			</a>
			<a href="/projects/raise-the-wage" class="project raise t1-t3 d1-d6">
				<div class="title-wrap text-bottom">
					<h4>Raise the Wage</h4>
					<h3>Changing the minumum wage to a livable wage in LA</h3>
				</div>
			</a>
			<a href="/projects/tackle-ebola" class="project tackleebola t4-t6 d7-d12">
				<div class="title-wrap text-bottom">
					<h4>Tackle Ebola</h4>
					<h3>Designing Paul Allen&#8217;s push to Tackle Ebola</h3>
				</div>
			</a>
			<a href="/projects/hustwit" class="project hustwit wide t1-t6 d1-d12">
				<div class="title-wrap">
					<h4>Gary Hustwit</h4>
					<h3>A filmmaker&#8217;s expanding empire</h3>
				</div>
			</a>
			<a href="/projects/old-spice" class="project oldspice small t1-t3 d1-d4">
				<div class="title-wrap text-bottom">
					<h4>Old Spice</h4>
					<h3>Enabling the citizens of the Internet to control one man, living in the woods</h3>
				</div>
			</a>
			
			<a href="/projects/families-for-excellent-schools" class="project fes t4-t6 d5-d12">
				<div class="title-wrap text-bottom">
					<h4>Families for Excellent Schools</h4>
					<h3>Fighting for the right to an excellent education</h3>
				</div>
			</a>
			<a href="/projects/the-feast" class="project feast t1-t3 d1-d6">
				<div class="title-wrap">
					<h4>The Feast</h4>
					<h3>Designing a web app to allow festival attendees to share ideas</h3>
				</div>
			</a>
			<a href="/projects/littlebits" class="project littlebits on-light t4-t6 d7-d12">
				<div class="title-wrap">
					<h4>LittleBits</h4>
					<h3>Designing the democratization of hardware</h3>
				</div>
			</a>
			<a href="/projects/avicii" class="project avicii wide t1-t6 d1-d12">
				<div class="title-wrap">
					<h4>Avicii</h4>
					<h3>Remixing the Internet with one of the world's biggest DJs</h3>
				</div>
			</a>
			<a href="/projects/new-directors-new-films" class="project ndnf t1-t4 d1-d8">
				<div class="title-wrap text-bottom">
					<h4>New Directors/New Films Festival</h4>
					<h3>A website for the New Directors New Films Festival 2013, 2014 &amp; 2015</h3>
				</div>
			</a>
			<a href="/projects/four-seasons" class="project fourseasons small t5-t6 d9-d12">
				<div class="title-wrap text-bottom">
					<h4>Four Seasons</h4>
					<h3>Making the experience of booking at an extraordinary hotel, extraordinary</h3>
				</div>
			</a>
		</div>
		
	</section>

  {% include footer.html %}

  </body>

</html>
