---
layout: default
---
<div class="container">
	<div class="post project-post {{ page.class }}">

	  <header class="project-header">
	  	<div class="d2-d8">
		  	<h1>{{ page.intro }}</h1>
		  	<h3><em>for</em> {{ page.title }}</h3>
		  </div>
	  </header>
	  <div class="project-description">	
	  	<div class="lead-in d2-d8">
	  		<h3>{{ page.lead-in }}</h3>
	  	</div>
	    <div class="project-deets d2-d3">
	    	<dl>
	    		<dt>Role</dt>
	    		<dd>{{ page.role }}</dd>
	    		<dt>Team</dt>
	    		<dd>{{ page.team }}</dd>
	    		<dt>Live Site</dt>
	    		<dd><a href="http://{{ page.live-url }}">{{ page.live-url }}</a></dd>
	    	</dl>
	    </div>
	    <div class="d4-d7 story">
	    	{% contentblock description %}
	    </div>
	    <div class="hero">	
		    {% contentblock hero %}
		  </div>
    </div>
	</div>
</div>

<article class="post-content">
    {{ content }}
</article>	